<div class="tooltip">
<a href="{{this.VIP_NUMERO}}">{{this.VIP_PRENOM}} {{this.VIP_NOM}}</a>
  <div class="tooltiptext">
    <div class="display_IB">
    <img class="margin-L_10 float_L" alt="photo" src="/images/vip/{{this.PHOTO_ADRESSE}}" height="130">
    <div>
      <p><strong>{{this.VIP_PRENOM}} {{this.VIP_NOM}}</strong></p>
      <p>{{this.VIP_TEXTE}}...</p>
    </div>
    </div>
  </div>
</div>
